@use '@angular/material' as mat;

mat.$theme-ignore-duplication-warnings: true;

@include mat.core();

$primary-palette: (
    50 : #edf4e0,
    100 : #d1e3b3,
    200 : #b3d180,
    300 : #95be4d,
    400 : #7eb026,
    500 : #67a200,
    600 : #5f9a00,
    700 : #549000,
    800 : #4a8600,
    900 : #397500,
    A100 : #c8ffa3,
    A200 : #aaff70,
    A400 : #8bff3d,
    A700 : #7cff24,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$second-palette: (
    50 : #e0ffff,
    100 : #b3ffff,
    200 : #80ffff,
    300 : #4dffff,
    400 : #26ffff,
    500 : #00ffff,
    600 : #00ffff,
    700 : #00ffff,
    800 : #00ffff,
    900 : #00ffff,
    A100 : #ffffff,
    A200 : #f2ffff,
    A400 : #bfffff,
    A700 : #a6ffff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$warn-palette: (
    50 : #ffe0e0,
    100 : #ffb3b3,
    200 : #ff8080,
    300 : #ff4d4d,
    400 : #ff2626,
    500 : #ff0000,
    600 : #ff0000,
    700 : #ff0000,
    800 : #ff0000,
    900 : #ff0000,
    A100 : #ffffff,
    A200 : #fff2f2,
    A400 : #ffbfbf,
    A700 : #ffa6a6,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$background: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$foreground: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$primary-color: mat.define-palette($primary-palette);
$accent-color: mat.define-palette($second-palette);
$warn-color: mat.define-palette($warn-palette);

$my-theme: mat.define-light-theme((color: (primary: $primary-color,
                accent: $accent-color,
                warn: $warn-color,
            ),
            background: (status-bar: $background,
                app-bar: $background,
                background: $background,
                hover: $background,
                card: $background,
                dialog: $background,
                disabled-button: $background,
                raised-button: $background,
                focused-button: $background,
                selected-button: $background,
                selected-disabled-button: $background,
                disabled-button-toggle: $background,
                unselected-chip: $background,
                disabled-list-option: $background,
            ),
            foreground: (base: $foreground,
                divider: $foreground,
                dividers: $foreground,
                disabled: $foreground,
                disabled-button: $foreground,
                disabled-text: $foreground,
                elevation: $foreground,
                hint-text: $foreground,
                secondary-text: $foreground,
                icon: $foreground,
                icons: $foreground,
                text: $foreground,
                slider-min: $foreground,
                slider-off: $foreground,
                slider-off-active: $foreground,
            )));


.theme {
    @include mat.core-theme($my-theme);
    @include mat.all-component-themes($my-theme);
    @include mat.all-component-colors($my-theme);
    @include mat.strong-focus-indicators-theme($my-theme);
    background-color: #000000;
    color: #ffffff;
}

.theme_container {
    width: 100%;
    height: 90vh;
}

.light {
    background-color: #e8e0e8;
    color: #000;
}

.dark {
    background-color: #0e0e0e;
    color: #fff;
}