<header class="header_menu">
    <app-logo></app-logo>
    <div class="hamburger" (click)="toggleNavbar()">
        <mat-icon class="mat-18">menu</mat-icon>
    </div>
    <nav class="nav-bar"  [ngClass]="{'active': isNavbarActive, 'inactive': !isNavbarActive}">
        <ul>
            <li><a routerLink="/" [ngClass]="{'active': isRouteActive('/')}"  (click)="toggleNavbar()">Home</a></li>
            <li><a routerLink="/articles" routerLinkActive="active" (click)="toggleNavbar()">Articles</a></li>
            <li><a routerLink="/certifications" routerLinkActive="active" (click)="toggleNavbar()">Certifications</a></li>
            <li><a routerLink="/formation" routerLinkActive="active" (click)="toggleNavbar()">Formation</a></li>
            <li><a routerLink="/portfolio" routerLinkActive="active" (click)="toggleNavbar()">Portfolio</a></li>
            <li><a routerLink="/posts" routerLinkActive="active" (click)="toggleNavbar()">Posts</a></li>
            <li><a routerLink="/school-project" routerLinkActive="active" (click)="toggleNavbar()">School Project</a></li>
            <li><a routerLink="/work-experience" routerLinkActive="active" (click)="toggleNavbar()">Work Experience</a></li>
            <li><a routerLink="/contact" routerLinkActive="active" (click)="toggleNavbar()">Contact</a></li>
        </ul>
    </nav>

</header>